<!doctype html>
<html>
    <body>
        <div class="centroDaPagina">
            <p class="titulo">Login</p>
            <table style="margin:auto">
                <td>
                    <tr>
                        <h4 class="subtitulo">Email</h4>
                    </tr>
                    <tr>
                        <input type="text"> <div><br></div>
                    </tr>
                    <tr>
                        <h4 class="subtitulo">Senha</h4>
                    </tr>
                    <tr>
                        <input type="password"> <div><br></div>
                    </tr>
                    <tr>
                        <div style="text-align: center">
                            <button style="text-align: center">Fazer login</button>
                        </div>
                    </tr>
                    <tr>
                        <div style="text-align: center" class="subtitulo"><br>Não tem cadastro...<br></div>
                        <div style="text-align: center">
                            <button style="text-align: center">Cadastrar</button>
                        </div>
                    </tr>
                </td>
            </table>
        </div>
    </body>
</html>
